body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 600px;
}

#album-art {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
