<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last Played Song on Last.fm</title>
    <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body>
    <div class="container">
        <h1>Last Played Song on Last.fm</h1>
        <div id="song-info">
            <p id="song-name">Loading...</p>
            <p id="artist-name"></p>
            <img id="album-art" src="" alt="Album Art" />
        </div>
    </div>
    <script th:inline="javascript">
        var LAST_FM_API_KEY = /*[[${lastFmApiKey}]]*/ 'DEFAULT_KEY'; // Thymeleaf resolves this
    </script>

    <script src="/js/mainPage.js"></script>
</body>
</html>
